# Библиотека `pandas`: часть 1

*Алла Тамбовцева*

## Домашнее задание 

### Описание домашнего задания и формат сдачи

В домашнем задании необходимо решить предложенные задачи по программированию – вписать свой код в ячейки после условий задач вместо комментария `### YOUR CODE HERE ###` в файле *homework-pandas1.ipynb* и сохранить изменения, используя опцию *Save and Checkpoint* из вкладки меню *File* или кнопку *Save and Checkpoint* на панели инструментов. Итоговый файл в формате `.ipynb` (файл Jupyter Notebook) необходимо загрузить в личный кабинет обучающей онлайн платформы Skillbox (https://go.skillbox.ru/) и отправить на проверку.

### Задание 1

Загрузить массив `NumPy` из файла `"arr_pandas.npy"` (как в задании к предыдущему модулю) и преобразовать его в датафрейм. Массив содержит данные по результатам соревнований Scottish Hill Races в 2000 году (полное описание на английском языке можно посмотреть на [странице](https://vincentarelbundock.github.io/Rdatasets/doc/DAAG/races2000.html) с документацией по исходному файлу с данными).

**Подсказка (преобразование в датафрейм):**

In [47]:
#dat = pd.DataFrame(arr)  # arr - массив NumPy из файла

In [51]:
import numpy as np
import pandas as pd
arr = np.load('arr_pandas.npy')
df = pd.DataFrame(arr)
type(df)

pandas.core.frame.DataFrame

### Задание 2

Определить, сколько в датафрейме строк и столбцов. Привести код и указать ответ в виде текста или комментария к коду.

In [65]:
df.shape
# 77 строк и 6 столбцов

(77, 6)

### Задание 3

Присвоить столбцам следующие названия (указаны с пояснениями): 

* `id`: id участника
* `dist`: расстояние в милях (по карте)
* `climb`: высота, достигнутая на маршруте (в сумме за весь маршрут, в футах)
* `time`: время (в часах)
* `timef`: время для женщин (в часах)
* `type`: тип гонки (*hill*, *marathon*, *relay*, *uphill* or *other*)

In [53]:
df.columns = ['id', 'dist', 'climb', 'time', 'timef', 'type']

### Задание 4

Вывести на экран значение высоты, достигнутой на маршруте участником *Norman's Law*.

In [54]:
df.index = df.id
df.loc["Norman's Law", 'climb']

700

### Задание 5
Вывести на экран значения показателей `dist`, `climb` , `time` для первых 10 участников.

In [55]:
df.iloc[0:10, 1:4]

                   dist climb      time
id
Aonach Mor Gondola    2  2000  0.403611
Broughton Brewery     2   650  0.254444
El-Brim-Ick           3   750  0.485833
The Devils Burdens   21  4100   2.39972
Tiso Carnethy         6  2500  0.782222
Criffel               7  1800  0.793333
Chapelgill          1.5  1400  0.314444
Norman's Law          5   700  0.464167
Craig Dunain          6   900  0.546111
Knockfarrel           5  1200  0.623333

### Задание 6

Вывести на экран сводную информацию по датафрейму, которая включает типы всех столбцов. Сколько столбцов типа `float` в датафрейме? Привести ответ на вопрос в виде текста или комментария к коду.

In [56]:
df.info()
# Столбцов с типом float 0

<class 'pandas.core.frame.DataFrame'>
Index: 77 entries, Aonach Mor Gondola to Greenmantle
Data columns (total 6 columns):
id       77 non-null object
dist     77 non-null object
climb    77 non-null object
time     77 non-null object
timef    75 non-null object
type     77 non-null object
dtypes: object(6)
memory usage: 6.7+ KB

### Задание 7

Выбрать строки, которые соответствуют участникам эстафеты (*relay*).

In [58]:
df[df['type'] == 'relay']

                                    id dist climb      time     timef   type
id
The Devils Burdens  The Devils Burdens   21  4100   2.39972   3.09333  relay
Ben Rha                        Ben Rha  7.5   800  0.738056  0.997222  relay
Elrick                          Elrick  3.6   650  0.358056    0.4425  relay

### Задание 8

Выбрать строки, которые соответствуют участникам гонки в холмах (*hill*), которые в сумме достигли высоты более 1000 футов. Посчитать, сколько таких участников.

In [110]:
df[(df['type'] == 'hill') & (df['climb'] > 1000)]['id'].shape

(39,)

### Задание 9

Выбрать строки, соответствующие участникам, которые либо достигли высоты более 4000 футов, либо потратили менее 0.5 часов.

In [67]:
df[(df['time'] < 0.5) | (df['climb'] > 4000)]

,id,dist,climb,time,timef,type
id,,,,,,
Aonach Mor Gondola,Aonach Mor Gondola,2,2000,0.403611,0.518889,uphill
Broughton Brewery,Broughton Brewery,2,650,0.254444,0.316667,other
El-Brim-Ick,El-Brim-Ick,3,750,0.485833,0.389167,other
The Devils Burdens,The Devils Burdens,21,4100,2.39972,3.09333,relay
Chapelgill,Chapelgill,1.5,1400,0.314444,0.376667,hill
Norman's Law,Norman's Law,5,700,0.464167,0.609167,hill
Screel,Screel,4,1300,0.458889,0.543611,hill
Hunters Bog,Hunters Bog,4.5,800,0.409444,0.477778,other
Aberfoyle Dash,Aberfoyle Dash,3,1000,0.3375,0.381389,uphill
Manx Mountain,Manx Mountain,30.5,8000,4.46972,5.52333,marathon
Whangie Whizz,Whangie Whizz,3.5,800,0.395556,0.464167,hill
Stuc A'Chroin,Stuc A'Chroin,14,5000,1.98333,2.39889,hill
Kinnoull,Kinnoull,4,800,0.387222,0.4525,hill
Scottish Nuclear Kaim,Scottish Nuclear Kaim,3.5,1250,0.431111,0.54,hill
Isle of Jura,Isle of Jura,16,7500,3.11639,3.83944,other
Scolty,Scolty,5,800,0.495833,0.579167,hill
12 Trig Trog,12 Trig Trog,46,7500,8.30694,13.5478,hill
Ben Sheann,Ben Sheann,2.5,1400,0.381667,0.484722,hill
Glen Rosa,Glen Rosa,13,5500,2.22028,2.70472,hill
West Highland Way,West Highland Way,95,9200,15.4389,18.8792,other
Eildon Two,Eildon Two,4.5,1500,0.427222,0.507778,other
Black Hill,Black Hill,4,600,0.447778,0.532222,hill
Meall Ant-Suidhe,Meall Ant-Suidhe,3.5,1500,0.465,0.609722,hill
Lochaber AC,Lochaber AC,2,900,0.284722,0.360556,hill
Lochaber Highland,Lochaber Highland,2,900,0.294167,0.473056,hill
Ben Rhinnes,Ben Rhinnes,14,4900,1.97611,2.35583,hill
Creag Dubh,Creag Dubh,3,1223,0.463889,0.601667,hill
Glen Clova,Glen Clova,15,5500,2.56722,2.96222,hill
Caerketton,Caerketton,2.5,800,0.208611,0.246667,hill
Oban,Oban,2.25,500,0.232222,0.298889,hill
Ben Nevis,Ben Nevis,10,4400,1.42611,1.72361,hill
Braemar,Braemar,4,2000,0.407778,NaN,other
Moffat Beef Tub,Moffat Beef Tub,2,1500,0.332222,0.436944,hill
Two Breweries,Two Breweries,18,4900,2.56583,3.08833,hill
Pentland,Pentland,16,6200,2.37778,2.785,hill
Tinto,Tinto,4.5,1500,0.499444,0.581111,hill
Elrick,Elrick,3.6,650,0.358056,0.4425,relay
Gondola,Gondola,2.5,2000,0.387222,0.518889,uphill
Greenmantle,Greenmantle,2,650,0.254444,0.316667,other

### Задание 10

Создать столбец `time_min`, который содержит время маршрута, измеренное в минутах.

In [77]:
df["time_min"] = df["time"] * 60
df.head()

,id,dist,climb,time,timef,type,year,time_min
id,,,,,,,,
Aonach Mor Gondola,Aonach Mor Gondola,2,2000,0.403611,0.518889,uphill,2000,24.2167
Broughton Brewery,Broughton Brewery,2,650,0.254444,0.316667,other,2000,15.2667
El-Brim-Ick,El-Brim-Ick,3,750,0.485833,0.389167,other,2000,29.15
The Devils Burdens,The Devils Burdens,21,4100,2.39972,3.09333,relay,2000,143.983
Tiso Carnethy,Tiso Carnethy,6,2500,0.782222,0.919167,hill,2000,46.9333

### Задание 11

Создать столбец `year` с годом соревнований (везде 2000 год). Внимание: столбец с годом должен быть числовым (целочисленным).

In [75]:
df['year'] = 2000
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 77 entries, Aonach Mor Gondola to Greenmantle
Data columns (total 8 columns):
id          77 non-null object
dist        77 non-null object
climb       77 non-null object
time        77 non-null object
timef       75 non-null object
type        77 non-null object
year        77 non-null int64
time_min    77 non-null object
dtypes: int64(1), object(7)
memory usage: 7.9+ KB